<!DOCTYPE html>
<html>
<head>
    <title>GO STEM</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Maitree" rel="stylesheet">
</head>
<body>
    <header class="flex-navbar navbar-right">
        <h1 class="brand">GO STEM</h1>
        <ul class="items">
          <li class="item"><a class="hvr-underline-from-center" href="/"><b>Home</b></a></li>
          <li class="item"><a class="hvr-underline-from-center" href="#"><b>About</b></a></li>
          <li class="item"><a class="hvr-underline-from-center" href="#"><b>Programs</b></a></li>
          <li class="item"><a class="hvr-underline-from-center" href="#"><b>Inquiry</b></a></li>

        </ul>
    </header>
