<% include ./partials/header %>
<h1>this is entries from form</h1>

<% inputs.forEach(function(inputs){ %>

    <ul>
        <li>
            Name: <%= inputs.name %>
        </br>
            Email: <%= inputs.email %>
        </li>
    </ul>
    
<% }) %>
<div style="position: absolute;" class="footer">
        <p>Call Us: 1-888-855-STEM  |  Email: info@gostemacademy.com</p>
    </div>
<% include ./partials/footer %>