<% include ./partials/header %>
<div class = "big-img">
<div id = "mission">
    <h1>Our Mission</h1>
</div>
<img id="landingImg" src="/assets/fa37df7e07f7c6f37f843b5b1ec14ad2.jpg">
</div>
<div class = "red-gap"></div>
<section class = "divider">
    <p id = "first">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet officiis eligendi consectetur a odio eum voluptas! Nisi officia, ut ullam exercitationem velit molestias totam ratione non nulla, quia ex. Maxime?
    </p>
    <p id = "second">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolore nam explicabo in provident impedit molestiae expedita ducimus excepturi? Neque rerum perspiciatis quos est explicabo itaque, tempora voluptate illo ex!
    </p>
    <div class = "greay-divider">

    </div>
</section>
<div class = "about-section">
    <div class = "side-nav">
        <ul>
        <li>PRINCIPLE MESSAGE</li>
        <li>VALUES</li>
        <li>WHAT IS GOSTEM </li>
        <li>SCHOOL MAP</li>
        </ul>
    </div>
</div>


<% include ./partials/footer %>
