<% include ./partials/header %>
<img id="landingImg" src="/assets/fa37df7e07f7c6f37f843b5b1ec14ad2.jpg">
<h1>this is the landing page</h1>
<h1>this is the landing page</h1>
<h1>this is the landing page</h1>
<h1>this is the landing page</h1>
<div class="inquiryContainer">
    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.6695998101213!2d-74.3431946841319!3d40.5709729793474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b6f69d879beb%3A0x5d25e248d5f15147!2sStem+Academy+For+Young+Kids!5e0!3m2!1sen!2sin!4v1532721407403" width="600" height="450" frameborder="0" style="width: 100%" allowfullscreen></iframe></div>
    <div class="inquiryLeft"><a href="#">Back To Top</a></div>
    <div class="inquiryMid">
        <h2>GO STEM ACADEMY</h2>
        <p>hours of operation: <spam style="color: red;">6:30 am</spam> - <spam style="color: red;">7:30 pm</spam></p>
        <P> 1665 Oak Tree Road,Suite-400
            Edison, NJ -08820
        </P>
    </div>
    <div class="inquiryRight">
    </hr>
        <h2>Contact Us</h2>
        <input type="text" placeholder="Your Name"></br>
        <input type="text" placeholder="Your E-Mail"></br>
        <input type="text" placeholder="Your Phone No."></br>
        <input type="text" placeholder="Your Address"></br>
        <input type="text" placeholder="Message" style="padding-bottom: 30%">
    </div>
</div>

<% include ./partials/footer %>
