<% include ./partials/header %>
<div class = "big-img">
<div id = "mission">
    <h1>Our Mission</h1>
</div>
<img id="landingImg" src="/assets/fa37df7e07f7c6f37f843b5b1ec14ad2.jpg">

<div class = "red-gap"></div>
<section class = "divider">
    <p id = "first">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet officiis eligendi consectetur a odio eum voluptas! Nisi officia, ut ullam exercitationem velit molestias totam ratione non nulla, quia ex. Maxime?
    </p>
    <p id = "second">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut dolore nam explicabo in provident impedit molestiae expedita ducimus excepturi? Neque rerum perspiciatis quos est explicabo itaque, tempora voluptate illo ex!
    </p>
    <div class = "greay-divider">

    </div>
</section>
<div class = "about-section">
    <div class = "side-nav">
        <ul>
        <li><a>PRINCIPLE MESSAGE</a></li>
        <li><a>VALUES</a></li>
        <li><a>WHAT IS GOSTEM</a></li>
        <li><a>SCHOOL MAP</a></li>
        </ul>
    </div>
    <div class = "content">
        <div class = "written">
        <h1>ABOUT GOSTEM</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo lacus, commodo id mattis vitae, ultricies ac neque. Donec vitae arcu consequat, luctus est non, vulputate dolor. Sed odio orci, faucibus ut quam pellentesque, faucibus fringilla sapien. Etiam ipsum tellus, commodo at nulla sit amet, faucibus tristique felis. Nulla facilisi. Fusce sed convallis orci, id convallis est. Proin quis bibendum est, vel hendrerit tellus. Nunc eros arcu, lacinia non fermentum sit amet, mollis non augue. Suspendisse potenti. In euismod nisl tortor, non commodo ligula ultrices vitae. In porttitor turpis tortor, vel ornare nisi laoreet ac. Nam dolor dolor, tincidunt at augue non, maximus eleifend nulla. Nunc ut velit sed nisi tristique hendrerit at non est.  Aenean id venenatis erat, sit amet condimentum ante. Sed blandit nisi non sapien interdum, ut condimentum ex malesuada. Nulla sed magna eros. Maecenas sit amet ligula tortor. Mauris egestas dolor eu consectetur luctus. Proin id erat tempor, suscipit eros a, fermentum magna. Aenean tempor in orci id rutrum. Mauris tempor sollicitudin malesuada. Etiam pharetra elementum turpis, ut molestie lacus elementum ut. Ut sodales aliquet dictum. Sed ac ante in elit venenatis pellentesque. Fusce tincidunt arcu ac commodo fringilla. Integer eleifend ligula nec libero condimentum mollis. Maecenas fermentum fermentum ornare. Ut vehicula iaculis mi, non lacinia justo porta eget. </p>
        <h1>MY EDUCATIONAL BACKGROUND</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ipsam eligendi placeat culpa, aperiam nostrum, animi neque quia minus odit ipsum, qui error temporibus amet aliquid nihil impedit corporis quasi.</p>
    </div>
        
    </div>
    <div class = "content-img">
            <img id="img" src="/assets/genius.jpg"> 
    </div>
</div>

<div class="inquiryContainer">
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.6695998101213!2d-74.3431946841319!3d40.5709729793474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b6f69d879beb%3A0x5d25e248d5f15147!2sStem+Academy+For+Young+Kids!5e0!3m2!1sen!2sin!4v1532721407403" width="600" height="450" frameborder="0" style="width: 100%" allowfullscreen></iframe></div>
        <div class="inquiryLeft"><a href="#">Back To Top</a></div>
        <div class="inquiryMid">
            <h2>GO STEM ACADEMY</h2>
            <p>hours of operation: <spam style="color: red;">6:30 am</spam> - <spam style="color: red;">7:30 pm</spam></p>
            <P> 1665 Oak Tree Road,Suite-400
                Edison, NJ -08820
            </P>
        </div>
        <div class="inquiryRight">
        </hr>
            <h2>Contact Us</h2>
            <input type="text" placeholder="Your Name"></br>
            <input type="text" placeholder="Your E-Mail"></br>
            <!-- <input type="text" placeholder="Your Phone No."></br> -->
            <!-- <input type="text" placeholder="Your Address"></br> -->
            <input type="text" placeholder="Message" style="padding-bottom: 30%">
        </div>
    </div>
    </div>


<% include ./partials/footer %>
