<% include ./partials/header %>
<div class="login-allign">
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</div>
</div>
<div style="position: absolute;" class="footer">
    <p>Call Us: 1-888-855-STEM  |  Email: info@gostemacademy.com</p>
</div>
<% include ./partials/footer %>
