body {
    zoom: 95%;
    margin:0;
    padding:0;
    height:100%;
    font-family: Maitree, sans-serif;
  }
  
  .flex-navbar {
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 2px 10px;
    display: flex;
    align-items: center;
  }
  
  .flex-navbar.navbar-right {
    justify-content: space-between;
  }
  
  .flex-navbar.navbar-left {
    justify-content: flex-start;
  }
  
  
  
  .flex-navbar .brand {
    color: rgb(255, 16, 68);
    font-size: 1.45em;
  }
  
  .flex-navbar ul.items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #34495e;
      font-size: .99em;
    text-transform: uppercase;
  }
  
  .flex-navbar > ul.items li.item {
    margin: 0 15px;
  }
  
  .flex-navbar > ul.items li.item a {
    text-decoration: none;
    color: #616161;
  }
  
  /* .flex-navbar > ul.items li.item a:hover {
    color: red;
  }
   */
  @media only screen and (max-width: 577px) {
    .flex-navbar {
      flex-direction: column;
    }
    
    .flex-navbar ul.items {
      flex-direction: column;
    }
    
    .flex-navbar > ul.items li.item {
    margin: 15px 15px;
    }
    
  }

  /* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(255, 16, 68);
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

   #landingImg{
    max-width: 100%;
    height: 300px;
    width: 100%;
  }

  .footer{
    background: rgb(255, 16, 68);
    bottom: 0;
    left: 0;
    right: 0;
    /* position: absolute; */
    width: 100%;
    color: #FAFAFA;
    font-size: 75%;
    text-align: center;
    padding: .1%;
    grid-area: footer;
  }

  .inquiryContainer{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left mid right right right'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    /* background-color: #11F6F3; */
    padding: 0;
  }

  .inquiryContainer > div{
    padding: 20px 0;
  }

  .map{
    grid-area: header;
  }

  .inquiryLeft{
    grid-area: left;
  }

  .inquiryMid{
    grid-area: mid;
  }

  .inquiryRight{
    grid-area: right;
  }

  .inquiryRight > input{
    display: block;
    width: 70%;
    border: 0;
    border-radius: 5px;
    margin-bottom: -6px;
    outline: 0;
    padding: 8px;
    padding-left: 30px;
    background: #f7f6f6;
    font-size: 1rem;
    color: #333;
    transition: all 0.2s ease-in-out;
    /* margin-left: 2%;  */
  }

  .inquiryRight > input:focus{
    background: hsl(0, 0%, 92%);
  }

  .inquiryRight > hr{
    display: block;
    height: 1px;
  } 
  .button {
    /* margin-top: 10%; */
    border-radius: 45px;
    background-color: rgb(238, 46, 12);
    border: none;
    color: white;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
  .inquiryButton {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

  .inquiryButton:hover {
    background-color: #f44336;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  .big-img{
    width: 100%;
    height: 300px;

  }

  .big-img #landingImg{
    width: 100%;
    height: 300px;

  }
  .red-gap{
    width:100%;
    height: 20px;
    background-color: red;
  }
  
  #mission{
    position: absolute;
    margin: 20px;
    color: whitesmoke;
    font-size: 2em;
  }

  .divider{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  }

  #first{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;

  }
  #second {
    text-align: center;
  }
  .greay-divider{
    height: 5px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: lightgrey;
  }

  .about-section{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    grid-column-gap: 100px;
  }
  .about-section .side-nav{
    grid-column-start: 1;
    text-align: left;
    margin-left: 30%;

  }
  .side-nav {
    margin-top: 100px;

  }
  .side-nav li {
    text-decoration: none;
    list-style: none;
    color: lightgray;
    position: relative;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
  }
  .side-nav li:first-child{
    margin-top: 40px !important; 
  }

  .side-nav li:nth-child(even) {
    margin-top: 30px;
  }
  .side-nav li:nth-child(odd) {
    margin-top: 30px;
  }
  
  .side-nav li::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: red;
    transform-origin: 0% 50%;
    transform: scale3d(0.03, 1, 1);
    transition: transform 0.3s; 
    visibility: hidden;
  }

  .side-nav li:hover::before{
    visibility: visible;
    transform: scale3d(1, 1, 1);
  }
  .content {
    margin-top : 100px;
  }
  .content h1{
    text-decoration: underline red;
    font-family: "Ronoto", sans-serif;

  }
  .content p {
    font-family: "Roboto", sans-serif;
    color: lightgrey;
    line-height: 1.7em;
  }

  .content .content-img {
    grid-column-start: 4;
    grid-column-end: 5;
    height: 100px;
    width: 100px;
    
  }

  .content-img #img {
    height: 400px;
    width: 300px;
    margin-top: 200px;

  }

  .gapContainer{
    display: grid;
    padding: 0;
    grid-template-columns: 5% 20% auto;
    grid-template-rows: 1px; 
  }
  .gapContainerItem1{
    width: 100%;
  }

