body {
    margin:0;
    padding:0;
    height:100%;
    font-family: Maitree, sans-serif;
  }
  
  .flex-navbar {
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 2px 10px;
    display: flex;
    align-items: center;
  }
  
  .flex-navbar.navbar-right {
    justify-content: space-between;
  }
  
  .flex-navbar.navbar-left {
    justify-content: flex-start;
  }
  
  
  
  .flex-navbar .brand {
    color: rgb(255, 16, 68);
    font-size: 1.45em;
  }
  
  .flex-navbar ul.items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #34495e;
      font-size: .99em;
    text-transform: uppercase;
  }
  
  .flex-navbar > ul.items li.item {
    margin: 0 15px;
  }
  
  .flex-navbar > ul.items li.item a {
    text-decoration: none;
    color: #616161;
  }
  
  .flex-navbar > ul.items li.item a:hover {
    /* color: red; */
  }
  
  @media only screen and (max-width: 577px) {
    .flex-navbar {
      flex-direction: column;
    }
    
    .flex-navbar ul.items {
      flex-direction: column;
    }
    
    .flex-navbar > ul.items li.item {
    margin: 15px 15px;
    }
    
  }

  /* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(255, 16, 68);
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  #landingImg{
    max-width: 100%;
    height: 566px;
    width: 100%;
  }

  .footer{
    background: rgb(255, 16, 68);
    bottom: 0;
    left: 0;
    right: 0;
    /* position: absolute; */
    width: 100%;
    color: #FAFAFA;
    font-size: 75%;
    text-align: center;
    padding: .1%;
  }

  .inquiryContainer{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left mid mid right right'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    /* background-color: #11F6F3; */
    padding: 10px;
  }

  .inquiryContainer > div{
    padding: 20px 0;
  }

  .map{
    grid-area: header;
  }

  .inquiryLeft{
    grid-area: left;
  }

  .inquiryMid{
    grid-area: mid;
  }

  .inquiryRight{
    grid-area: right;
  }

  .inquiryRight > input{
    display: block;
    width: 70%;
    border: 0;
    border-radius: 5%;
    /* margin-bottom: 20px; */
    outline: 0;
    padding: 8px;
    background: #f2f2f2;
    font-size: 1rem;
  }

  .inquiryRight > hr{
    display: block;
    height: 1px;
  }